.beat {
  flex-grow: 1;
  position: relative;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}

.capo {
  position: absolute;
  top: -20px; // offset
}

.noteContainer {
  display: flex;
  // justify-content: center;
  align-items: center;
}

.note {
  background: white;
  padding: 0 3px;
}