.nav {
  height: 100%;
}

.nav__ul {
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1000px;
  height: 100%;
}

.nav__li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.nav__li:last-child {
  margin-right: 0;
}