.title {
  text-transform: uppercase;
  font-size: 2rem;
}

.barContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 600px) {
  .barContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .barContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .barContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}